.mini {
  height: 2em;
  margin: 0px;
}

.posit {
  width: 18px;
}

.color_antepenultimate{
background-color:lightgray;
}
 body{
   font-size: 0.8em;
 }
/* style de bton checkbox*/
/* input[type=checkbox]{
  width: 5%;
  background-color: crimson;
} */